<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Live Cryptocurreny Price</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <script src='/socket.io/socket.io.js' type='text/javascript'></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-111767825-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-111767825-1');
</script>
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:734181,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>

    <script>
        var socket = io();
    </script>
    <link rel="shortcut icon" type="image/png" href="/rupee-128.png"/>

</head>
<body>
<section class="hero is-primary is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                <strong>Live</strong> Cryptocurrency Price <small>(&#946;eta)</small>
            </h1>

            <h2 class="subtitle">
                BTC,XRP,ETH<br>

            </h2>
        </div>
    </div>
</section>
<div class="Marquee">
  <marquee>Live price reload and BtcxIndia ripple info are coming soon. Until then enjoy blockchain.</marquee>
</div>
<div class="tile is-ancestor">
    <div class="tile is-4 is-vertical is-parent">
        <div class="tile is-child notification is-bitcoin ">
            <p class="title">Bitcoin</p>
            <p><strong>Price (INR) : &#x20b9; <%= btcvalue.price_inr%></strong></p>
            <p><strong>Price (USD) : $ <%= btcvalue.price_usd%></strong></p>



              <% if(btcvalue.percent_change_1h > 0){%>
                  <p>Percentage Change (1h) : <span class="tag is-success">+<%= btcvalue.percent_change_1h%> %</span></p>
              <%}%>
              <% if(btcvalue.percent_change_1h < 0){%>
                   <p>Percentage Change (1h) : <span class="tag is-danger"><%= btcvalue.percent_change_1h%> %</span></p>

              <% }%>


            <% if(btcvalue.percent_change_24h > 0){%>
                <p>Percentage Change (24h) : <span class="tag is-success">+<%= btcvalue.percent_change_24h%> %</span></p>
            <%}%>
            <% if(btcvalue.percent_change_24h < 0){%>
                 <p>Percentage Change (24h) : <span class="tag is-danger"><%= btcvalue.percent_change_24h%> %</span></p>

            <% }%>

            <p>Available Supply : <%=btcvalue.available_supply%> BTC </p>
            <p>Total Supply : <%=btcvalue.total_supply%> BTC </p>
            <p>Maximum Supply : <%=btcvalue.max_supply%> BTC </p>
            <p>Market Cap (INR) : &#x20b9; <%=btcvalue.market_cap_inr%> </p>
            <p>24h Volume (INR) : &#x20b9; <%=onedayBtc%> </p>


        </div>
        <div class="tile is-child box">
            <p class="title">Ethereum</p>
            <p><strong>Price (INR) : &#x20b9; <%= ethvalue.price_inr%></strong></p>
            <p><strong>Price (USD) : $ <%= ethvalue.price_usd%></strong></p>



              <% if(ethvalue.percent_change_1h > 0){%>
                  <p>Percentage Change (1h) : <span class="tag is-success">+<%= ethvalue.percent_change_1h%> %</span></p>
              <%}%>
              <% if(ethvalue.percent_change_1h < 0){%>
                   <p>Percentage Change (1h) : <span class="tag is-danger"><%= ethvalue.percent_change_1h%> %</span></p>

              <% }%>


            <% if(ethvalue.percent_change_24h > 0){%>
                <p>Percentage Change (24h) : <span class="tag is-success">+<%= ethvalue.percent_change_24h%> %</span></p>
            <%}%>
            <% if(ethvalue.percent_change_24h < 0){%>
                 <p>Percentage Change (24h) : <span class="tag is-danger"><%= ethvalue.percent_change_24h%> %</span></p>

            <% }%>

            <p>Available Supply : <%=ethvalue.available_supply%> ETH </p>
            <p>Total Supply : <%=ethvalue.total_supply%> ETH </p>
            <p>Market Cap (INR) : &#x20b9; <%=ethvalue.market_cap_inr%> </p>
            <p>24h Volume (INR) : &#x20b9; <%=onedayEth%> </p>
        </div>
    </div>
    <div class="tile is-parent">
        <div class="tile is-child notification is-ripple">
            <p class="title">Ripple(Network Price)</p>
            <p><strong>Price (INR) : &#x20b9; <%= xrpvalue.price_inr%></strong></p>
            <p><strong>Price (USD) : $ <%= xrpvalue.price_usd%></strong></p>



              <% if(xrpvalue.percent_change_1h > 0){%>
                  <p>Percentage Change (1h) : <span class="tag is-success">+<%= xrpvalue.percent_change_1h%> %</span></p>
              <%}%>
              <% if(xrpvalue.percent_change_1h < 0){%>
                   <p>Percentage Change (1h) : <span class="tag is-danger"><%= xrpvalue.percent_change_1h%> %</span></p>

              <% }%>


            <% if(xrpvalue.percent_change_24h > 0){%>
                <p>Percentage Change (24h) : <span class="tag is-success">+<%= xrpvalue.percent_change_24h%> %</span></p>
            <%}%>
            <% if(xrpvalue.percent_change_24h < 0){%>
                 <p>Percentage Change (24h) : <span class="tag is-danger"><%= xrpvalue.percent_change_24h%> %</span></p>

            <% }%>

            <p>Available Supply : <%=xrpvalue.available_supply%> XRP </p>
            <p>Total Supply : <%=xrpvalue.total_supply%> XRP </p>
            <p>Maximum Supply : <%=xrpvalue.max_supply%> XRP </p>
            <p>Market Cap (INR) : &#x20b9; <%=xrpvalue.market_cap_inr%> </p>
            <p>24h Volume (INR) : &#x20b9; <%=onedayXrp%> </p>
            <hr>
            <p class="title">BtcxIndia Price</p>
              <h1>Coming Soon !</h1>
            </div>
    </div>
</div>
<footer class="footer">
    <div class="container">
        <div class="content has-text-centered">
            <p>
               Made with <span class="icon"><i class="fa fa-heart"></i></span>  by <a href="https://www.facebook.com/sriramVJrasigan">Sriram J</a>.
            </p>
        </div>
    </div>
</footer>

</body>
</html>
